.h1{ 
    background-color: red;
    color: white;
}
.Qsp{
    background-color: rgb(21, 128, 0);
    color: white;

}
#own{
    background-color: aqua;
    color: white;
}
.sub{
    background-color: black;
    color: white;
}
#languages{
    background-color: orange;
    color: white;
}









